.container {
    position: absolute;
    left: 0;
    bottom: 0;
    height: 2.7rem;
    width: 100%;
    background-color: transparent;
    backdrop-filter: blur(5px);
    display: flex;

    .start-button {
        height: 100%;
        width: 6rem;
        background-color: #1F1F1E;
        color: #fff;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        user-select: none;
    }

    .task {
        height: 100%;
        width: 6rem;
        background-color: transparent;
        color: #fff;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        user-select: none;
        margin-left: 5px;
        box-sizing: border-box;
        border-bottom: 2px solid transparent;
    }
    .task:hover {
        background-color: rgba(31, 31, 30, 0.4);
    }

    .active {
        box-sizing: border-box;
        border-bottom: 2px solid #C5B828;
    }
}

// background-color: #1F1F1E;