.container {
    height: calc(100% - 1rem);
    width: calc(100% - 1rem);
    background-color: #000;
    font-family: 'Courier New', Courier, monospace;
    padding-top: 1rem;
    padding-left: 1rem;
    color: greenyellow;
    font-size: 1.3rem;

    .text-box {
        width: 30%;
        display: flex;

        .boot-text {
            letter-spacing: .15rem;
            display: flex;
            flex-direction: column;
        }

        .underscore {
            font-weight: bold;
            animation: caret 1s steps(1) infinite;
        }

        @keyframes caret {
            from, to { color: transparent }
            50% { color: greenyellow; }
        }
    }

}

