<div class="container" >
    <div class="desktop-workspace" (click)="onDesktop()">
        <div class="desktop-icons" *ngFor="let icon of desktopIcons" (click)="clickDesktopIcon($event, icon)" [ngClass]="icon.active ? 'desktop-icon-active': ''">
            <div class="desktop-icon"><app-icon [name]="icon.icon"></app-icon></div>
            <div class="icon-title">{{ icon.title }}</div>
        </div>
    </div>

    <!-- Windows -->
    <div *ngIf="windows.length > 0">
        <div 
            *ngFor="let window of windows; let i = index;"
            cdkDragBoundary=".container"
            cdkDrag 
            class="window"
            [ngStyle]="{'display': window.minimized ? 'none' : 'flex'}"
            [ngClass]="{'window-maximize': window.maximized}"
        >
            <div class="header" cdkDragHandle>
                <div class="header-title">{{ window.title }}</div>

                <div class="header-buttons">
                    <div class="header-btn minimize" (click)="onMinimize(window.id)">
                        <div class="icon"><app-icon name="minimize"></app-icon></div>
                    </div>
                    <div class="header-btn maximize" (click)="onMaximize(window.id)">
                        <div class="icon"><app-icon name="maximize"></app-icon></div>
                    </div>
                    <div class="header-btn close" (click)="onClose(window.id)">
                        <div class="icon"><app-icon name="close"></app-icon></div>
                    </div>
                </div>
            </div>
            <div class="body">

                <div *ngIf="textEditor" class="text-editor-container" (keydown)="textEditorKeyDown($event)" tabindex="1">
                    <!-- <div class="text-editor-content" #textEditorContent></div><div [ngClass]="'type-cursor'">|</div> -->
                    <div class="text-editor-content">
                        <div *ngFor="let text of textEditorText" style="display: flex;">
                            {{ text.text }}<div *ngIf="!text.finished" [ngClass]="'type-cursor'">|</div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <!-- Taskbar -->
    <app-taskbar [tasks]="tasks" (sendTaskClick)="onMinimize($event)"></app-taskbar>
</div>

<!-- Start Panel -->
<app-start-panel *ngIf="toggledStart" (openedWindow)="onOpenWindow($event)"></app-start-panel>

