@import "../../themes/variables.scss";

.container {
    height: 100%;
    width: 100%;
    background-image: url("../../../assets/desktop_wallpaper.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;

    .desktop-workspace {
        height: calc(100% - 2.7rem);
        width: 100%;
        background-color: transparent;
    }

    .window {
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 0;
        left: 0;
        height: 40rem;
        width: 50rem;
        z-index: $zindex-window;

        .header {
            height: 2rem;
            width: 100%;
            display: flex;
            justify-content: space-between;
            background-color: #424241;

            .header-title {
                color: #fff;
                font-size: 1rem;
                margin-left: 1rem;
                display: flex;
                align-items: center;
                user-select: none;
            }

            .header-buttons {
                width: 9rem;
                height: 100%;
                color: #fff;
                display: flex;

                .header-btn {
                    width: 3rem;
                    height: 100%;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                }

                .minimize:hover {
                    background-color: #2C2C2A;
                }

                .maximize:hover {
                    background-color: #2C2C2A;
                }

                .close:hover {
                    background-color: #B01818;
                }

                .icon {
                    height: 1.3rem;
                    width: 1.3rem;
                }
            }
        }

        .body {
            background-color: #61615E;
            height: calc(100% - 3rem);
            width: 100%;
            box-sizing: border-box;
            border-left: 2px solid #424241;
            border-right: 2px solid #424241;
            border-bottom: 2px solid #424241;
        }


    }
}

.task-bar {
    display: absolute;
    left: 0;
    bottom: 0;
    height: 3rem;
    width: 100%;
    background-color: darkcyan;
    display: flex;

    .start-button {
        height: 100%;
        width: 7rem;
        background-color: blue;
        color: #fff;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
    }
}