.container {
    height: 100%;
    width: 100%;
    // background-color: grey;
    background-image: url("../../../assets/desktop_wallpaper.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
}

.task-bar {
    display: absolute;
    left: 0;
    bottom: 0;
    height: 3rem;
    width: 100%;
    background-color: darkcyan;
    display: flex;

    .start-button {
        height: 100%;
        width: 7rem;
        background-color: blue;
        color: #fff;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
    }
}