<div class="container" >
    <div class="desktop-workspace" (click)="onDesktop()">


    </div>

    <!-- Windows -->
    <div *ngIf="windows.length > 0">
        <div *ngFor="let window of windows; let i = index;" cdkDragBoundary=".container" cdkDrag class="window" [ngStyle]="{'display': window.minimized ? 'none' : 'flex'}">
            <div class="header" cdkDragHandle>
                <div class="header-title">{{ window.title }}</div>

                <div class="header-buttons">
                    <div class="header-btn minimize" (click)="onMinimize(window.id)">
                        <div class="icon"><app-icon name="minimize"></app-icon></div>
                    </div>
                    <div class="header-btn maximize" (click)="onMaximize(window.id)">
                        <div class="icon"><app-icon name="maximize"></app-icon></div>
                    </div>
                    <div class="header-btn close" (click)="onClose(window.id)">
                        <div class="icon"><app-icon name="close"></app-icon></div>
                    </div>
                </div>
            </div>
            <div class="body">

                <!-- <ng-content></ng-content> -->

            </div>
        </div>
    </div>

    <!-- Taskbar -->
    <app-taskbar [tasks]="tasks" (sendTaskClick)="onMinimize($event)"></app-taskbar>
</div>

<!-- Start Panel -->
<app-start-panel *ngIf="toggledStart" (openedWindow)="onOpenWindow($event)"></app-start-panel>

