<div class="container">
    <div style="display: flex; flex-direction: column; align-items: center;">
        <div class="logo-box">
            TimonOS
        </div>
        <div class="progress-bar">
            <div class="progress" [ngStyle]="{'width': width + '%'}"></div>
        </div>
    </div>
</div>
<div class="box top-left"><div class="circle"></div></div>
<div class="box top-right"><div class="circle"></div></div>
<div class="box bottom-left"><div class="circle"></div></div>
<div class="box bottom-right"><div class="circle"></div></div>